<!DOCTYPE html>
<html>
<head>
    <title>All Leave Requests</title>
</head>
<body>
    <h1>All Leave Requests</h1>

    <table border="1" cellpadding="8">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Leave Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
        </tr>
        {% for r in requests %}
        <tr>
            <td>{{ r.id }}</td>
            <td>{{ r.user.name }}</td>
            <td>{{ r.leave_type }}</td>
            <td>{{ r.start_date }}</td>
            <td>{{ r.end_date }}</td>
            <td>{{ r.status }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/">Back to Home</a>
</body>
</html>